.App {
  height: 2700px;
}

header {
  width: 100%;
  background-color: rgba(143, 199, 231, 0.8);
  border-bottom: 1px solid rgb(160, 156, 156);
  position: fixed;
  top:0;
  z-index: 9;
}
a {
  text-decoration: none;
}
header > .inner {
  height: 140px;
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
header > .inner > .name > .company {
  font-family: 'Song Myung', serif;
  font-size: 35px;
}
header > .inner > .name > .type {
  font-family: 'Song Myung', serif;
  font-size: 25px;
}
header .logo {
  position: absolute;
  top: 15px;
  left: -20px;
  /* margin: auto; */
}
header > .inner > .logo img {
  padding-top: 10px;
  height: 120px;
}
/* header-nav */
header > .inner > .nav {
  position: absolute;
  top: 75px;
  right: 0;
  display: flex;
}
header .nav ul.menu {
  font-family: 'Song Myung', serif;
  font-size: 20px;
  margin: 5px;
  display: flex;
  
}
header .nav ul.menu li {
  position: relative;
}
header .nav ul.menu li::before {
  content: "";
  height: 20px;
  width: 1px;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .nav ul.menu {
  list-style: none;
}
header > .inner >.nav ul.menu li a {
  font-size: 20px;
  padding: 11px 16px;
  display: block;
  color: #fff;
}
header > .inner >.nav ul.menu li a:hover {
  color: rgb(80, 78, 78);
}
/* header > .nav > .menu > .pro:hover .product_contents {
  display: block;
  background-color: rgba(143, 199, 231, 0.8);
}
header >.inner > .nav  */


/* MMMain */
/* about */
.main {
  /* position: relative; */
  width: 100%;
  height: 1000px;
  margin-top: 140px;
}
.main > .about {
  position: relative;
}
.main > .about > .mtitle {
  position: relative;
  padding-left: 150px;
  padding-top: 50px;
  font-size: 25px;
  font-weight: light;
  margin: 0;
  font-family: 'Song Myung', serif;
  color: rgb(89, 91, 92);
}
.main > .about > .pic{
  position: absolute;
  width: 40%;
  height: 300px;
  left: 10%;
}
.main > .about >.pic img {
  width: 630px;
  height: 300px;
  margin-top: 20px;
}
.main > .about >.des {
  position: absolute;
  width: 600px;
  height: 300px;
  left: 50%;
  margin-top: 17px;
  font-size: 22px;
  font-family: 'Song Myung', serif;
}
.main > .product {
  position: relative;
  top: 360px;
}
.main > .product > .mtitle {
  position: relative;
  padding-left: 150px;
  padding-top: 50px;
  font-size: 25px;
  font-weight: light;
  margin: 0;
  font-family: 'Song Myung', serif;
  color: rgb(89, 91, 92);
}
/* product1 */
.main > .product > .small1 {
  position: absolute;
  width: 700px;
  height: 500px;
  left: 70px;
}
.main > .product > .small1 > .pname {
  position: absolute;
  width: 100%;
  height: 20%;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 100px;
  margin: 0;
  font-family: 'Lobster', cursive;
}
.main > .product > .small1 > .ppic {
  position: absolute;
  top: 70px;
  width: 400px;
  height: 400px;
  margin-left: 150px;
}
.main > .product > .small1 > .ppic img {
  position: absolute;
  max-width: 400px;
  height: 300px;
  left: 10%;
}
.main > .product >.big1 {
  position: absolute;
  width: 600px;
  height: 300px;
  right: 15%;
}
.main > .product >.big1 > .pdes {
  position: absolute;
  width: 500px;
  height: 300px;
  font-size: 18px;
  top: 130px;
  font-family: 'Dosis', sans-serif;
  /* right: 20px; */
}
/* produvt2 */
.main > .product > .small2 {
  position: absolute;
  width: 700px;
  height: 500px;
  left: 70px;
  top: 485px;
}
.main > .product > .small2 > .pname {
  position: absolute;
  width: 100%;
  height: 20%;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 100px;
  margin: 0;
  font-family: 'Lobster', cursive;
}
.main > .product > .small2 > .ppic {
  position: absolute;
  top: 70px;
  width: 400px;
  height: 400px;
  margin-left: 150px;
}
.main > .product > .small2 > .ppic img {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 10%;
}
.main > .product >.big2 {
  position: absolute;
  width: 600px;
  height: 300px;
  right: 15%;
  top: 485px;
}
.main > .product >.big2 > .pdes {
  position: absolute;
  width: 500px;
  height: 300px;
  font-size: 18px;
  top: 130px;
  font-family: 'Dosis', sans-serif;
  /* right: 20px; */
}
/* product3 */
.main > .product > .small3 {
  position: absolute;
  width: 700px;
  height: 500px;
  left: 70px;
  top: 850px;
}
.main > .product > .small3 > .pname {
  position: absolute;
  width: 100%;
  height: 20%;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 100px;
  margin: 0;
  font-family: 'Lobster', cursive;
}
.main > .product > .small3 > .ppic {
  position: absolute;
  top: 70px;
  width: 400px;
  height: 400px;
  margin-left: 150px;
}
.main > .product > .small3 > .ppic img {
  position: absolute;
  width: 400px;
  height: 300px;
  left: 10%;
}
.main > .product >.big3 {
  position: absolute;
  width: 600px;
  height: 300px;
  right: 15%;
  top: 850px;
}
.main > .product >.big3 > .pdes {
  position: absolute;
  width: 500px;
  height: 300px;
  font-size: 18px;
  top: 130px;
  font-family: 'Dosis', sans-serif;
}
/* product4 */
.main > .product > .small4 {
  position: absolute;
  width: 700px;
  height: 500px;
  left: 70px;
  top: 1215px;
}
.main > .product > .small4 > .pname {
  position: absolute;
  width: 100%;
  height: 20%;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 100px;
  margin: 0;
  font-family: 'Lobster', cursive;
}
.main > .product > .small4 > .ppic {
  position: absolute;
  top: 70px;
  width: 400px;
  height: 400px;
  margin-left: 150px;
}
.main > .product > .small4 > .ppic img {
  position: absolute;
  width: 400px;
  height: 300px;
  left: 10%;
}
.main > .product >.big4 {
  position: absolute;
  width: 600px;
  height: 300px;
  right: 15%;
  top: 1215px;
}
.main > .product >.big4 > .pdes {
  position: absolute;
  width: 500px;
  height: 300px;
  font-size: 18px;
  top: 130px;
  font-family: 'Dosis', sans-serif;
}
/* product5 */
.main > .product > .small5 {
  position: absolute;
  width: 700px;
  height: 500px;
  left: 70px;
  top: 1580px;
}
.main > .product > .small5 > .pname {
  position: absolute;
  width: 100%;
  height: 20%;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 100px;
  margin: 0;
  font-family: 'Lobster', cursive;
}
.main > .product > .small5 > .ppic {
  position: absolute;
  top: 70px;
  width: 400px;
  height: 400px;
  margin-left: 150px;
}
.main > .product > .small5 > .ppic img {
  position: absolute;
  width: 500px;
  height: 400px;
  left: 10%;
}
.main > .product >.big5 {
  position: absolute;
  width: 600px;
  height: 300px;
  right: 15%;
  top: 1540px;
}
.main > .product >.big5 > .pdes {
  position: absolute;
  width: 500px;
  height: 300px;
  font-size: 18px;
  top: 130px;
  font-family: 'Dosis', sans-serif;
}

.main > .email {
  position: relative;
  top: 2200px;
}
.main > .email > .mtitle {
  position: relative;
  padding-left: 150px;
  padding-top: 50px;
  font-size: 25px;
  font-weight: light;
  margin: 0;
  font-family: 'Song Myung', serif;
  font-size: 30px;
  color: rgb(89, 91, 92);
}
.main > .email> .container {
  position: relative;
  background-color: #ece5e5;
  height: 170px;
  width: 400px;
  left: 40%;
  top: 20px;
  border-radius: 20px;
  box-shadow: 10px;
}
.main > .email > .container h2 {
  position: absolute;
  left: 27%;
  top: 30%;
}
/* totop */
#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}